body {
  background: #3b4660;
  font-family: Arial;
  color: #fff;
}

#board {
  margin: 50px auto;
  width: 600px;
  border-top: 3px solid #282f41;
  border-left: 3px solid #282f41;
}

#board:after,
#scoreboard:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#board .box {
  width: 200px;
  height: 200px;
  float: left;
  box-sizing: border-box;

  border-right: 3px solid #282f41;
  border-bottom: 3px solid #282f41;

  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  font-size: 84px;
  font-weight: bold;
  line-height: 200px;

  cursor: crosshair;
  transition: .2s font-size, .2s background-color;
}

#board .box:hover {
  font-size: 90px;
  /*background-color: #4a5775;*/
  background-color: rgba(0, 0, 0, 0.2);

}

#scoreboard {
  margin: 40px 0;
}

#scoreboard .player {
  float: left;
  width: 50%;
  padding: 0 20px;
  line-height: 60px;
  box-sizing: border-box;
}

#scoreboard .player .mark {
  width: 60px;
  font-size: 35px;
  text-align: center;
  background-color: #576580;
  border-radius: 30px;
}

#scoreboard .player .mark.inactive {
  background-color: rgba(0, 0, 0, 0.2);
}

#scoreboard .player-x .mark {
  float: right;
}

#scoreboard .player-o .mark {
  float: left;
}

#scoreboard .player .score {
  background-color: #2a3244;
  padding: 2px 14px;
  color: #939fba;
  border-radius: 8px;
  margin: 0 10px;
}

#scoreboard .player-x {
  text-align: right;
}

#scoreboard .player-o {
}

#join {
  margin: 10px auto;
  width: 160px;
}

#join input {
  background-color: rgba(255,255,255,0.2);
  border: none;
  color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;

  transition: .2s background-color;
}

#join input:focus {
  outline: none;
}

#join input:hover {
  background-color: rgba(255,255,255,0.3);
}
